lab1/__pycache__/graphics.cpython-310.pyc
lab1/__pycache__/graphics.cpython-310.pyc
lab2/__pycache__/genetic_algorythm.cpython-310.pyc
lab2/__pycache__/solution_utils.cpython-310.pyc
lab2/__pycache__/graphic.cpython-310.pyc
