lab1/__pycache__/graphics.cpython-310.pyc
lab1/__pycache__/graphics.cpython-310.pyc
lab2/__pycache__/genetic_algorythm.cpython-310.pyc
lab2/__pycache__/solution_utils.cpython-310.pyc
lab2/__pycache__/graphic.cpython-310.pyc
lab3/__pycache__/game.cpython-310.pyc
lab3/__pycache__/gui.cpython-310.pyc
lab3/__pycache__/player.cpython-310.pyc
lab3/__pycache__/non_gui.cpython-310.pyc
lab4/__pycache__
lab4/.venv
